body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover,
nav ul li a.reserve-btn {
    background-color: #e3b04b;
    color: #fff;
}

nav ul li a.reserve-btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}


/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    max-width: 1000px; /* Ajustează după cum dorești */
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/* slideshow */

/* container index */
.content-container {
    display: flex;
    justify-content: flex-start; /* Slideshow-ul să fie aproape de marginea stângă */
    align-items: center; /* Centrare verticală a elementelor */
    margin: 20px;
}

.slideshow-container {
    flex: 3;
    margin-right: 40px; /* Spațiu între slideshow și containerul de informații */
    height: auto; /* Asigură dimensiunea corectă a slideshow-ului */
}

.info-box {
    width: 250px; /* Menține lățimea containerului */
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrare text */
    align-self: center; /* Centrare față de slideshow */
}

.info-box h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.info-box p, .info-box ul {
    margin: 5px 0;
    padding-left: 0;
    list-style-type: none; /* Elimină bulinele din listă */
}
